# fly.toml app configuration file generated for curatedotfun-floral-sun-1539 on 2025-01-17T21:47:30-07:00
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = 'curatedotfun-floral-sun-1539'
primary_region = 'den'

[build]
  dockerfile = 'Dockerfile'

[env]
  PORT = '3000'

[[mounts]]
  source = 'litefs'
  destination = '/var/lib/litefs'
  initial_size = '1GB'

[http_service]
  internal_port = 3000
  force_https = true
  auto_stop_machines = 'suspend'
  auto_start_machines = true
  min_machines_running = 0
  processes = ['app']

  [http_service.http_checks]
    interval = 10000
    timeout = 2000
    grace_period = "5s"
    method = "get"
    path = "/health"
    protocol = "http"

[[vm]]
  memory = '1gb'
  cpu_kind = 'shared'
  cpus = 1
