/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
:root {
  --ifm-color-primary: #007bcd;
  --ifm-color-primary-dark: #006fb9;
  --ifm-color-primary-darker: #0068ae;
  --ifm-color-primary-darkest: #005590;
  --ifm-color-primary-light: #0087e1;
  --ifm-color-primary-lighter: #008eec;
  --ifm-color-primary-lightest: #0ca0ff;
  --ifm-code-font-size: 95%;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.1);
}

/* For readability concerns, you should choose a lighter palette in dark mode. */
[data-theme='dark'] {
  --ifm-color-primary: #0ca0ff;
  --ifm-color-primary-dark: #0091f0;
  --ifm-color-primary-darker: #0089e3;
  --ifm-color-primary-darkest: #0071bb;
  --ifm-color-primary-light: #26aaff;
  --ifm-color-primary-lighter: #33afff;
  --ifm-color-primary-lightest: #5cbfff;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.3);
}
