/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 hsl(var(--primary))
 */

.heroBanner {
  padding: 4rem 0;
  text-align: center;
  position: relative;
  overflow: hidden;
  background-color: white; 
  color: var(--ifm-color-primary-darkest);
}

@media screen and (max-width: 996px) {
  .heroBanner {
    padding: 2rem;
  }
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.heroTitle {
  font-size: 3rem;
  font-weight: 700;
}

.heroSubtitle {
  font-size: 1.5rem;
  margin-bottom: 2rem;
}

