@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .btn {
    @apply px-8 py-3 text-base font-mono text-white bg-blue-600 rounded-lg hover:bg-blue-700 transition-colors tracking-wide;
  }
}

html,
body {
  height: 100vw;
  margin: 0;
  padding: 0;
}

@layer utilities {
  .delay-150 {
    animation-delay: 150ms;
  }
  .delay-300 {
    animation-delay: 300ms;
  }
}

@keyframes spin {
  0% {
    transform: translateY(-20px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

#emojis span {
  display: inline-block;
  animation: spin 0.1s ease-out;
}
@font-face {
  font-family: "Londrina Solid";
  src: url("/fonts/LondrinaSolid-NNS.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

Link,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Londrina Solid", sans-serif;
}
.cta-button {
  font-family: "Londrina Solid", sans-serif;
}
h1 {
  font-size: 4rem;
  font-weight: 900;
}

h2 {
  font-size: 1.5rem;
  font-weight: 900;
}

h3 {
  font-size: 1.2rem;
  font-weight: 900;
}
h4 {
  font-size: 1rem;
  font-weight: 900;
}
h5 {
  font-size: 0.8rem;
  font-weight: 900;
}
h6 {
  font-size: 0.6rem;
  font-weight: 900;
}

a.hyperlink {
  font-family: "Londrina Solid", sans-serif;
  color: #000;
  text-decoration: underline;
}

/* For WebKit browsers (Chrome, Safari) */
::-webkit-scrollbar {
  width: 12px; /* Width of the scrollbar */
}

::-webkit-scrollbar-track {
  background: transparent; /* Background of the scrollbar track */
}

::-webkit-scrollbar-thumb {
  background-color: black; /* Color of the scrollbar thumb */
  border-radius: 0; /* No rounded corners */
  border: none; /* No border */
}

/* For Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: black transparent;
}

@layer base {
  p,
  .text-base {
    font-family: "Open Sans", sans-serif;
  }
}

.typewriter {
  font-family: "Londrina Solid", sans-serif;
}

/* Add these styles for the testimonials section */
.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.testimonial-card {
  animation: fadeIn 0.5s ease-out;
}

.animate-marquee {
  display: inline-flex;
  animation: scroll 20s linear infinite;
}
.hover\:pause-marquee:hover {
  animation-play-state: paused;
}
@keyframes scroll {
  0% {
    transform: translateX(-70%);
  }
  100% {
    transform: translateX(0%);
  }
}
